/*-------------------------------------------*\
   footer-type-1.scss

   Footer type 1 styles
\*-------------------------------------------*/

.footer-type-1 {
  .inner-wrapper {
    background-color: var(--primary-color);
    padding: 100px 0;
    @media (max-width: $xl) {
      padding: 75px 0;
    }

    .container {
      align-items: center;
    }

    .column {
      @media (max-width: $lg) {
        min-width: 100%;
        width: 100%;
        padding: 0 15px !important;
      }

      &.info-wrapper {
        padding-right: 75px;
        @media (max-width: $xl) {
          padding-right: 25px;
        }
        @media (max-width: $lg) {
          margin-bottom: 50px;
        }

        .title {
          color: var(--white-color);
          margin-bottom: 15px;
          @media(max-width: $sm) {
            margin-bottom: 10px;
          }
        }

        .subtitle {
          color: var(--white-color);
          margin-bottom: 15px;
          @media(max-width: $sm) {
            margin-bottom: 10px;
          }
        }

        .content {
          color: var(--white-color);
          max-width: 400px;
          margin-bottom: 25px;
          @media(max-width: $sm) {
            margin-bottom: 15px;
          }
        }
      }

      &.form-wrapper {
        padding-left: 100px;
      }
    }
  }

  .copyright-panel {
    background-color: var(--primary-color);
    padding: 25px 0;
    position: relative;

    .copyright-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 10;
      @media (max-width: $lg) {
        flex-direction: column;
        justify-content: center;
      }

      .copyright {
        font-size: 14px;
        color: var(--white-color);
        @media (max-width: $lg) {
          margin-bottom: 10px;
          text-align: center;
        }
      }

      .additional-links {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @media(max-width: $lg) {
          justify-content: center;
        }

        li {
          @media(max-width: $lg) {
            margin: 0 10px !important;
          }

          a {
            font-size: 14px;
            color: var(--white-color);
            position: relative;

            &:before {
              content: ' ';
              display: flex;
              width: 100%;
              position: absolute;
              bottom: 0;
              height: 1px;
              background-color: var(--white-color);
              transform: translateY(5px);
              opacity: 0;
              transition: all .3s ease-in-out;
            }

            &:hover {
              &:before {
                transform: translateY(0);
                opacity: 1;
              }
            }
          }

          &:not(:last-child) {
            margin-right: 25px;
            @media (max-width: $lg) {
              margin-right: 0;
            }
          }
        }
      }
    }

    &:after {
      content: ' ';
      display: flex;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
