/*-------------------------------------------*\
   blockquote-type-3.scss

   Blockquote type 3 styles
\*-------------------------------------------*/

.blockquote-type-3 {
  padding: 30px 0 30px 40px;
  position: relative;
  border-left: 5px solid var(--primary-color);
  border-radius: 5px;
  @media(max-width: $md) {
    padding: 20px 0 20px 20px;
  }
  @media(max-width: $sm) {
    padding: 10px 0 10px 20px;
  }
  .quote {
    margin-bottom: 5px;
    @media(max-width: $sm) {
      margin-bottom: 0;
    }
  }

  .author {
    @include meta-text(var(--meta-color), 0.5px, 500, 13px);
    text-transform: uppercase;
  }
}
