/*-------------------------------------------*\
   alert-type-1.scss

   Alert type 1 styles
\*-------------------------------------------*/

.alert-message-type-1 {
  padding: 10px 25px;
  height: 60px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include meta-text(var(--white-color), 0.5px, 500, 13px);

  i {
    color: var(--white-color);
    font-size: 18px;
  }

  .close-btn {
    cursor: pointer;
  }

  &.success-alert {
    background-color: var(--success-color);
  }

  &.info-alert {
    background-color: var(--info-color);
  }

  &.warning-alert {
    background-color: var(--warning-color);
  }

  &.danger-alert {
    background-color: var(--danger-color);
  }
}
