/*-------------------------------------------*\
   keyframes.scss

   General keyframes
\*-------------------------------------------*/

@keyframes organic-1 {
  0% {
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%
  }
  33% {
    border-radius: 30% 70% 30% 70% / 32% 30% 70% 68%;
  }
  66% {
    border-radius: 70% 30% 70% 30% / 68% 70% 30% 32%;
  }
  100% {
    border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%
  }
}

@keyframes organic-2 {
  0% {
    border-radius: 50% 50% 82% 18% / 36% 53% 47% 64%
  }
  33% {
    border-radius: 64% 36% 87% 13% / 33% 64% 36% 67%
  }
  66% {
    border-radius: 74% 26% 67% 33% / 21% 77% 23% 79%
  }
  100% {
    border-radius: 50% 50% 82% 18% / 36% 53% 47% 64%
  }
}

@keyframes organic-3 {
  0% {
    border-radius: 56% 44% 26% 74% / 47% 80% 20% 53%
  }
  33% {
    border-radius: 50% 50% 31% 69% / 51% 49% 51% 49%
  }
  66% {
    border-radius: 41% 59% 44% 56% / 64% 36% 64% 36%
  }
  100% {
    border-radius: 56% 44% 26% 74% / 47% 80% 20% 53%
  }
}

.organic-type-1, .organic-after-type-1:after {
  border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
  animation-name: organic-1;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.organic-type-2, .organic-after-type-2:after {
  border-radius: 50% 50% 82% 18% / 36% 53% 47% 64%;
  animation-name: organic-2;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.organic-type-3, .organic-after-type-3:after {
  border-radius: 56% 44% 26% 74% / 47% 80% 20% 53%;
  animation-name: organic-3;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.organic-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
