/*-------------------------------------------*\
   page-header-type-error.scss

   Page header type error styles
\*-------------------------------------------*/

.page-header-type-error {
  min-height: 600px;
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  @media(max-width: $md) {
    min-height: 500px;
    height: 500px;
  }

  .inner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      color: var(--primary-color);
      line-height: 1;
      font-size: 150px;
      font-weight: 700;
      margin-bottom: 30px;
      text-align: center;
      @media(max-width: $lg) {
        font-size: 128px;
      }
      @media(max-width: $md) {
        font-size: 96px;
        margin-bottom: 20px;
      }
    }

    .subtitle {
      @include meta-text(var(--white-color), 1px, 500, 13px);
      text-transform: uppercase;
      margin-bottom: 40px;
      line-height: normal;
      text-align: center;
      @media(max-width: $md) {
        margin-bottom: 30px;
      }
    }
  }
}
