/*-------------------------------------------*\
   social-list-type-5.scss

   Social list type 5 styles
\*-------------------------------------------*/

.social-list-type-5 {
  li {
    a {
      width: 30px;
      height: 30px;
      color: var(--white-color);
    }
  }
}
