/*-------------------------------------------*\
   portfolio-grid-digital.scss

   Portfolio grid digital styles
\*-------------------------------------------*/

.portfolio-grid-digital {
  margin:-15px;

  .grid-item {
    padding: 15px;
    display: flex;

    .inner-item {
      position: relative;
      width: 100%;
      height: 100%;

      .image-wrapper {
        height: 500px;
        .link-overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      .description {
        position: absolute;
        bottom: 25px;
        left: 25px;
        width: calc(100% - 50px);
        padding: 30px;
        background-color: var(--white-color);

        .title {
          margin-bottom: 15px;
          line-height: 1;
        }

        .category-list {
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          .category {
            display: flex;
            align-items: center;
            @include meta-text(var(--primary-color), 0, 500, 13px);

            &:not(:last-child) {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}
