/*-------------------------------------------*\
   section-title-type-2.scss

   Section title type 2 styles
\*-------------------------------------------*/

.section-title-type-2 {
  margin-bottom: 50px;
  @media(max-width: $md) {
    margin-bottom: 35px;
  }

  .upper-text {
    font-weight: 600;
    color: var(--primary-color);
    letter-spacing: 0.5px;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    @media(max-width: $lg) {
      margin-bottom: 15px;
    }
    @media(max-width: $md) {
      margin-bottom: 10px;
    }
  }

  .title {

  }
}
