/*-------------------------------------------*\
   section-title-type-1.scss

   Section title type 1 styles
\*-------------------------------------------*/

.section-title-type-1 {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  @media(max-width: $lg) {
    margin-bottom: 50px;
  }
  @media(max-width: $md) {
    margin-bottom: 30px;
  }
  .subtitle {
    margin-top: 20px;
    @media(max-width: $md) {
      margin-top: 15px;
    }
    @media(max-width: $sm) {
      margin-top: 10px;
    }
  }
}
